@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

:root {
  --color-primary: #000;
  --color-light: #78788033;
  --body-font: 'inter';
  --bg-color: #ffffff;
}

html {
  font-size: 100%;
}

body {
  background-color: var(--bg-color);
  color: var(--color-primary);
  font-family: var(--body-font);
  font-size: 14px;
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Navbar */

@media screen and (min-width: 951px) {
  .navbar {
    width: 100vw;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    height: max-content;
    /* border: 1px solid green; */
  }

  .logo {
    cursor: pointer;
    width: 10%;
  }

  .navbar .btn-group {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(245, 245, 137);
    padding: 0.2rem;
    border-radius: 5rem;
    margin-right: 1rem;
  }

  .navbar .btn-group button {
    background: transparent;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    color: #3c3c4399;
    border-radius: 5rem;
    padding: 0.5rem 0.7rem;
    cursor: pointer;
  }

  .navbar .btn-group .active,
  .navbar .btn-group button:hover {
    background-color: #a57bff;
    color: var(--bg-color);
  }

  .navbar .nav-links {
    width: 50%;
  }
  .navbar .nav-links ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    font-size: 100%;
  }

  .navbar .nav-links ul li .nav-link {
    color: #3c3c4399;
  }

  .navbar .nav-links ul li .nav-link:hover {
    color: var(--color-primary);
  }

  .navbar .order-btn {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 1.5rem;
  }

  .navbar .order-btn button {
    background: #80ffab;
    padding: 0.75rem 1em;
    border-radius: 0.7rem;
    font-size: 100%;
    font-weight: 600;
    border: none;
    cursor: pointer;
  }

  .navbar .responsive-btns .close-icon,
  .navbar .responsive-btns .menu-icon {
    font-size: 1.5rem;
  }

  .navbar .responsive-btns {
    display: none;
  }

  .responsive-navbar {
    display: none;
  }
}

/* responsiveness */
@media screen and (max-width: 950px) {
  .navbar {
    width: 100vw;
    display: flex;
    padding: 0.75rem;
    align-items: center;
    justify-content: space-between;
    height: max-content;
    /* border: 1px solid green; */
  }

  .logo {
    cursor: pointer;
    width: 15%;
  }

  .navbar .btn-group {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(245, 245, 137);
    padding: 0.2rem;
    border-radius: 5rem;
    margin-right: 0.5rem;
  }

  .navbar .btn-group button {
    background: transparent;
    border: none;
    font-size: 0.75rem;
    font-weight: 500;
    color: #3c3c4399;
    border-radius: 5rem;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
  }

  .navbar .btn-group .active,
  .navbar .btn-group button:hover {
    background-color: #a57bff;
    color: var(--bg-color);
  }

  .navbar .nav-links {
    width: 60%;
  }
  .navbar .nav-links ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.2rem;
    font-size: 80%;
  }

  .navbar .nav-links ul li .nav-link {
    color: #3c3c4399;
  }

  .navbar .nav-links ul li .nav-link:hover {
    color: var(--color-primary);
  }

  .navbar .order-btn {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .navbar .order-btn button {
    background: #80ffab;
    padding: 0.5rem 0.7em;
    border-radius: 0.7rem;
    font-size: 100%;
    font-weight: 600;
    border: none;
    cursor: pointer;
  }

  .navbar .responsive-btns .close-icon,
  .navbar .responsive-btns .menu-icon {
    font-size: 1.5rem;
  }

  .navbar .responsive-btns {
    display: none;
  }

  .responsive-navbar {
    display: none;
  }
}

@media screen and (max-width: 821px) {
  .navbar {
    display: none;
  }
  .navigation-bar {
    position: relative;
  }
  .responsive-navbar {
    display: block;
  }

  .responsive-navbar .header {
    width: 100%;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    height: max-content;
  }

  .responsive-navbar .btn-group {
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(245, 245, 137);
    padding: 0.2rem;
    border-radius: 5rem;
    margin-bottom: 1rem;
  }

  .responsive-navbar .btn-group button {
    background: transparent;
    border: none;
    font-size: 0.75rem;
    font-weight: 500;
    color: #3c3c4399;
    border-radius: 5rem;
    padding: 0.5rem 2rem;
    cursor: pointer;
  }

  .responsive-navbar .btn-group .active,
  .responsive-navbar .btn-group button:hover {
    background-color: #a57bff;
    color: var(--bg-color);
  }

  .responsive-navbar .nav-links {
    width: 100%;
    min-height: 90vh;
  }

  .responsive-navbar .nav-links ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.2rem;
  }

  .responsive-navbar .nav-links ul li .nav-link {
    color: #3c3c4399;
  }

  .responsive-navbar .nav-links ul li .nav-link:hover {
    color: var(--color-primary);
  }

  .responsive-navbar .order-btn {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .responsive-navbar .order-btn button {
    background: #80ffab;
    padding: 0.5rem 1rem;
    border-radius: 0.7rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-right: 1rem;
  }

  .responsive-navbar .responsive-btns .close-icon,
  .responsive-navbar .responsive-btns .menu-icon {
    font-size: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .responsive-navbar .responsive-btns .close-icon,
  .responsive-navbar .responsive-btns .menu-icon {
    font-size: 4rem;
  }

  .responsive-navbar .order-btn {
    width: 40%;
  }

  .logo {
    width: 30%;
  }
}

/* End of Navbar */

/* Home Starts */
.home {
  width: 100vw;
}

.home .intro {
  background-image: url(./assets/landing.png);
  background-repeat: no-repeat;
  object-fit: contain;
  width: 100%;
  min-height: 90vh;
  height: 100%;
  position: relative;
}

.home .intro .title {
  position: absolute;
  top: 2.5rem;
  left: 3.5rem;
  /* width: 45%; */
  color: var(--bg-color);
  font-size: 4rem;
  font-weight: 900;
}

.second-row {
  width: 100%;
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem 2rem;
  margin-top: 2rem;
}

.second-row .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 40%;
  align-items: start;
  /* border: 1px solid green; */
  padding: 0;
}

.second-row .col h2 {
  font-size: 6rem;
  color: var(--color-light);
}

.second-row .col .empty {
  bottom: 0.5rem;
  /* border: 1px solid green; */
  height: 10rem;
  width: 5rem;
}

.second-row .col p {
  font-size: 1.1rem;
}

.third-row {
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.third-row .content {
  display: flex;
  align-items: start;
  justify-content: start;
  margin-top: 1.5rem;
  gap: 1rem;
}

.third-row .content .desc h3 {
  font-size: 1.5rem;
  padding-bottom: 0.75rem;
}

.third-row .content .desc p {
  color: #3c3c4399;
}

.fourth-row {
  height: 100vh;
  background-image: url(./assets/GamingConsole1.png);
  object-fit: scale-down;
  color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fourth-row .top {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 1.5rem;
  gap: 2rem;
}

.fourth-row .top .top-left {
  color: #ebebf599;
  font-weight: 400;
  font-size: 1.3rem;
  width: 40%;
}

.fourth-row .top .top-right {
  width: 50%;
}

.fourth-row .top .top-right h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.fourth-row .top .top-right h2 sup {
  font-size: 0.85rem;
  color: #fff;
  font-weight: lighter;
}

.fourth-row .bottom {
  padding: 1.5rem;
  width: 40%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.fourth-row .bottom img {
  height: 2.5rem;
  width: 2.5rem;
}

.fourth-row .bottom h2 {
  font-weight: 400;
  color: #ebebf5;
  font-size: 1.1rem;
}

.fourth-row .bottom h1 {
  font-size: 1.1rem;
  font-weight: 400;
}

.fifth-row {
  width: 100vw;
  padding: 2rem;
  min-height: 75vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.fifth-row .container {
  display: flex;
  justify-content: space-between;
}

.fifth-row .container .right,
.fifth-row .container .left {
  width: 50%;
}

.fifth-row .container .first-row-right span {
  font-weight: 600;
  font-size: 1.2rem;
}

.fifth-row .container .second-row-left {
  font-size: 3.5rem;
  font-weight: 700;
}

.fifth-row .container .third-row-left-top {
  padding-bottom: 1rem;
}

.fifth-row .container .third-row-left-bottom {
  padding-top: 1rem;
}

.fifth-row .container .fourth-row-right span {
  font-size: 1.25rem;
  font-weight: 700;
}

.fifth-row > span {
  margin: 0 auto;
  font-size: 0.85rem;
  font-weight: 500;
  color: #3c3c4399;
}

.sixth-row {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem;
}

.sixth-row .example {
  position: relative;
  /* border: 1px solid green; */
  height: 35%;
  width: 22.5%;
  overflow: hidden;
  margin-bottom: 1rem;
}

.sixth-row .example h2 {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 5rem;
  background-color: #9c9c9c;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.sixth-row .example img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.seventh-row {
  background: #e4e4e4;
  padding: 2rem;
}

.seventh-row .top .amount,
.seventh-row .top .middle,
.seventh-row .top .left {
  height: 15vh;
}

.seventh-row .top .amount {
  font-size: 2rem;
  font-weight: 700;
}

.seventh-row .top .amount sup {
  font-size: 1rem;
  font-weight: 400;
  margin-left: 19%;
}

.seventh-row .top .middle {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -5%;
  align-items: center;
}

.seventh-row .top .middle p span {
  font-size: 1.15rem;
  font-weight: 600;
}

.seventh-row .left {
  color: #3c3c4399;
  width: 35%;
  margin-left: 85%;
}

.seventh-row .calendar-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seventh-row .calendar-container .calendar {
  width: 30%;
  background: var(--bg-color);
  border-radius: 1rem;
  margin: 0 auto;
  padding: 1rem 0;
}

.seventh-row .calendar-container .calendar h2,
.seventh-row .calendar-container .calendar .cal {
  padding: 0.5rem 1rem;
}

.seventh-row .calendar-container .calendar .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 400;
}

.seventh-row .calendar-container .calendar .price {
  background: #f9ff8a;
}

.seventh-row .calendar-container .calendar .savings {
  color: gray;
}

.seventh-row .calendar-container .order-btn {
  width: 30%;
  background: #80ffab;
  border-radius: 1rem;
  padding: 1rem 0;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.2em;
  margin-top: 0.5rem;
}

.seventh-row .bottom {
  width: 40%;
  margin: 4rem auto;
  text-align: center;
  font-size: 1.1rem;
}

.seventh-row .bottom h2 {
  margin: 1.3rem 0;
}

.eighth-row {
  height: 150vh;
  width: 100%;
  overflow: hidden;
}

.eighth-row img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.nineth-row {
  background: #e4e4e4;
  width: 100%;
  height: 100%;
  padding-bottom: 3rem;
}

.nineth-row h2 {
  font-size: 1.4rem;
  text-align: center;
  padding: 5rem;
}

.nineth-row .table {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nineth-row .table .right {
  width: 55%;
}

.nineth-row .table .right img {
  width: 100%;
}
.nineth-row .table .left {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.nineth-row .table .left .btn-group {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(245, 245, 137);
  padding: 0.2rem;
  border-radius: 5rem;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}

.nineth-row .table .left .btn-group button {
  background: transparent;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: #3c3c4399;
  border-radius: 5rem;
  padding: 0.25rem 0.7rem;
  cursor: pointer;
  min-width: 47.5%;
}

.nineth-row .table .left .btn-group .active,
.nineth-row .table .left .btn-group button:hover {
  background-color: #a57bff;
  color: var(--bg-color);
}

.nineth-row .table .form {
  width: 85%;
  background: var(--bg-color);
  margin: 0 auto;
  border-radius: 0.75rem;
}

.nineth-row .table .left .form .row {
  border-bottom: 1px solid #3c3c4399;
  display: flex;
  margin-left: 1rem;
  padding: 0 0.75rem 0 0;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.nineth-row .table .left .form .row5 {
  display: flex;
  margin-left: 1rem;
  padding: 0 0.75rem 0 0;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.nineth-row .table .form .row .left,
.nineth-row .table .form .row5 .left {
  color: #3c3c4399;
  padding: 0.5rem 0;
  width: 60%;
}

.nineth-row .table .form .row .right,
.nineth-row .table .form .row5 .right {
  text-align: right;
  margin-right: 1rem;
}

.nineth-row .table .left .upload-btn,
.nineth-row .table .left .order-btn {
  width: 85%;
  margin: 0 auto;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.nineth-row .table .left .upload-btn {
  padding: 0.5rem;
  background: #ff80fd;
  color: var(--bg-color);
  font-size: 1em;
}

.nineth-row .table .left .order-btn {
  padding: 0.75rem;
  background: #80ffab;
  font-size: 1.2em;
}

.nineth-row .bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  gap: 2rem;
}

.nineth-row .bottom .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10vh;
}

.nineth-row .bottom .right p {
  margin-top: 2rem;
}
.nineth-row .bottom .right {
  padding-top: 6.5rem;
}

.nineth-row .bottom .right p span {
  font-weight: 600;
  font-size: 1.2rem;
}

.tenth-row {
  background: var(--bg-color);
  width: 100%;
  padding: 2rem;
}

.tenth-row .top {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.tenth-row .top .left {
  width: 50%;
  font-size: 2.5rem;
  font-weight: 500;
}

.tenth-row .top .right {
  width: 50%;
  font-size: 0.75rem;
  font-weight: 400;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 1rem;
}

.tenth-row .top .right .col {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.tenth-row .bottom {
  width: 100%;
  padding: 2rem;
  font-size: 5rem;
  font-weight: 800;
  line-height: 5rem;
  word-spacing: 1rem;
}

.eleventh-row {
  height: 90vh;
  width: 100%;
  position: relative;
}

.eleventh-row .bg {
  position: absolute;
  margin-left: 30%;
  width: 70%;
  height: 100%;
}

.eleventh-row .container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.eleventh-row .container .left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.eleventh-row .container .left img {
  width: 49%;
  height: 47.5%;
}

.eleventh-row .container .right {
  height: 50%;
  margin-bottom: 20%;
  width: 50%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.eleventh-row .container .right .content {
  padding-left: 2rem;
  font-size: 1.1rem;
}

.eleventh-row .container .right .content h2 {
  font-size: 1.8rem;
  font-weight: 800;
}

.eleventh-row .container .right .ex {
  padding-left: 2rem;
  /* margin-bottom: 10rem; */
  font-weight: 600;
  font-size: 1.2rem;
}

/* responsiveness */

@media screen and (max-width: 950px) {
  .home .intro {
    min-height: 40vh;
  }
  .second-row .col img {
    height: 5rem;
    width: 5rem;
  }

  .second-row .col h2 {
    font-size: 4rem;
    color: var(--color-light);
  }

  .second-row .col .empty {
    height: 5rem;
    width: 4.5rem;
  }

  .second-row .col p {
    font-size: 1rem;
  }

  .fifth-row {
    height: max-content;
    min-height: 40vh;
  }

  .eighth-row {
    height: 75vh;
    width: 100%;
    overflow: hidden;
  }

  .nineth-row .table .right {
    width: 55%;
  }

  .nineth-row .table .left {
    width: 45%;
  }

  .tenth-row .bottom {
    width: 100%;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    word-spacing: 0.2rem;
  }

  .eleventh-row {
    height: 85vh;
  }

  .eleventh-row .container .left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .eleventh-row .container .left img {
    width: 49%;
    height: 47.5%;
  }

  .eleventh-row .container .right {
    margin-bottom: 25%;
  }

  .eleventh-row .container .right .content {
    padding-left: 1.25rem;
    font-size: 0.75rem;
  }

  .eleventh-row .container .right .content h2 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .eleventh-row .container .right .ex {
    font-weight: 800;
    font-size: 0.9rem;
    padding-left: 1.25rem;
  }
}

@media screen and (max-width: 821px) {
  .home .intro .title {
    font-size: 3rem;
    width: 70%;
  }
  .second-row .col img {
    height: 3.5rem;
    width: 3.5rem;
  }

  .second-row .col h2 {
    font-size: 3rem;
    color: var(--color-light);
  }

  .second-row .col .empty {
    height: 4rem;
    width: 3.25rem;
  }

  .second-row .col p {
    font-size: 0.8rem;
  }

  .fourth-row {
    height: 70vh;
  }

  .fourth-row .top .top-right h2 {
    font-size: 1rem;
  }

  .fourth-row .top .top-right h2 sup {
    font-size: 0.75rem;
  }

  .fourth-row .top .top-left {
    width: 47%;
    font-size: 0.9rem;
  }

  .fourth-row .bottom {
    width: 60%;
    gap: 0.5rem;
  }
  .fourth-row .bottom img {
    height: 1.95rem;
    width: 1.95rem;
  }

  .fifth-row {
    height: max-content;
    min-height: 40vh;
  }

  .fourth-row .bottom h2,
  .fourth-row .bottom h1 {
    font-size: 0.95rem;
  }

  .fifth-row .container .second-row-left,
  .fifth-row .container .third-row-left {
    width: 80%;
  }
  .fifth-row .container .second-row-right,
  .fifth-row .container .third-row-right {
    width: 20%;
  }

  .fifth-row .container {
    font-size: 0.75rem;
  }
  .fifth-row .container .second-row-left {
    font-size: 2rem;
  }

  .fifth-row .container .fourth-row-right span {
    font-size: 0.95rem;
    font-weight: 700;
  }
  .fifth-row .container .first-row-right span {
    font-weight: 600;
    font-size: 0.9rem;
  }

  .fifth-row span {
    font-size: 0.7rem;
  }

  .sixth-row {
    max-height: 75vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow: auto;
    overflow-y: hidden;
  }

  .sixth-row::-webkit-scrollbar {
    width: 0;
  }

  .sixth-row .example {
    position: relative;
    max-height: 70vh;
    min-width: 75vw;
    margin-right: 2rem;
  }

  .seventh-row .calendar-container .calendar {
    width: 70%;
    font-size: 0.75rem;
  }

  .seventh-row .calendar-container .order-btn {
    width: 70%;
    font-size: 1rem;
  }

  .seventh-row .top .middle {
    width: 97%;
  }
  .seventh-row .top .middle p span {
    font-size: 1rem;
  }

  .seventh-row .left {
    width: 22.5%;
    margin-left: 77.5%;
    margin-bottom: 1%;
  }

  .nineth-row .table {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
  }

  .nineth-row .table .right,
  .nineth-row .table .left {
    width: 65%;
  }

  .eleventh-row {
    height: 65vh;
  }

  .eleventh-row .container .left img {
    width: 49%;
    height: 45%;
  }

  .eleventh-row .container .right {
    margin-bottom: 25%;
  }

  .eleventh-row .container .right .content {
    padding-left: 1.25rem;
    font-size: 0.6rem;
  }

  .eleventh-row .container .right .content h2 {
    font-size: 0.85rem;
    margin-bottom: 0.5rem;
  }

  .eleventh-row .container .right .ex {
    font-weight: 800;
    font-size: 0.7rem;
    padding-left: 1.25rem;
  }
}

@media screen and (max-width: 550px) {
  .home .intro {
    padding: 1rem;
    height: 75vh;
  }
  .home .intro .title {
    top: 1rem;
    left: 2rem;
    font-size: 1.5rem;
    width: 75%;
  }
  .second-row {
    color: var(--color-primary);
    flex-wrap: wrap;
    height: 45vh;
    margin-bottom: -2rem;
  }

  .second-row .col {
    height: 35%;
    width: max-content;
    justify-content: space-around;
  }

  .second-row .col1 {
    width: 100%;
  }

  .second-row .col img {
    height: 2.5rem;
    width: 2.5rem;
    color: #000;
  }

  .second-row .col h2 {
    font-size: 2rem;
    color: var(--color-light);
  }

  .second-row .col .empty {
    height: 4rem;
    width: 3.25rem;
  }

  .second-row .col p {
    font-size: 0.8rem;
  }

  .third-row {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
  }

  .third-row .content {
    display: flex;
    width: 90%;
    flex-direction: column;
    margin-top: 1.5rem;
    gap: 1rem;
  }

  .third-row .content img {
    margin-left: -13.5rem;
  }
  .third-row .content .desc h3 {
    font-size: 1rem;
  }

  .fourth-row .top .top-right h2 {
    font-size: 0.95rem;
  }

  .fourth-row .top .top-right h2 sup {
    font-size: 0.75rem;
  }

  .fourth-row .top .top-left {
    width: 47%;
    font-size: 0.875rem;
  }

  .fourth-row .bottom {
    width: 70%;
    gap: 0.4rem;
  }
  .fourth-row .bottom img {
    height: 1.5rem;
    width: 1.5rem;
  }

  .fourth-row .bottom h2,
  .fourth-row .bottom h1 {
    font-size: 0.8rem;
  }

  .seventh-row .calendar-container .calendar h2 {
    font-size: 1rem;
  }
  .seventh-row .calendar-container .calendar .row {
    font-size: 0.7rem;
  }
  .seventh-row .calendar-container .calendar {
    margin-top: 5%;
    width: 90%;
    font-size: 0.7rem;
  }

  .seventh-row .calendar-container .order-btn {
    width: 90%;
    font-size: 1rem;
  }

  .seventh-row .top .middle p span {
    width: 90%;
    font-size: 0.85rem;
  }

  .seventh-row .left {
    width: 50%;
    margin-left: 55%;
    font-size: 0.8rem;
  }

  .seventh-row .bottom {
    width: 100%;
    margin: 4rem auto;
    font-size: 0.7rem;
  }

  .nineth-row .table .right,
  .nineth-row .table .left {
    width: 90%;
  }

  .tenth-row .top .left {
    width: 35%;
    font-size: 1.5rem;
  }

  .tenth-row .top .right {
    width: 60%;
    font-size: 0.7rem;
    align-items: start;
    gap: 0.5rem;
  }

  .tenth-row .top .right .col {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .tenth-row .bottom {
    width: 100%;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 700;
    word-spacing: 0.2rem;
  }

  .eleventh-row {
    height: max-content;
  }

  .eleventh-row .bg {
    display: none;
  }

  .eleventh-row .container {
    flex-direction: column;
    padding: 1rem;
  }

  .eleventh-row .container .left {
    width: 100%;
    height: 50vh;
  }

  .eleventh-row .container .right {
    width: 100%;
    height: 50vh;
    margin-bottom: 0%;
    background-image: url(assets/MapExampleSmall.png);
    object-fit: cover;
    border: 1px solid green;
  }

  .eleventh-row .container .right .content {
    padding-left: 0rem;
    font-size: 0.75rem;
    height: 70%;
  }

  .eleventh-row .container .right .content h2 {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }

  .eleventh-row .container .right .ex {
    font-weight: 800;
    font-size: 0.7rem;
    padding-left: 0rem;
    margin-bottom: 30%;
  }
}

/* Home Ends */
